<div class="container">
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 footer-info">

<div class="t3-module module " id="Mod96"><div class="module-inner"><div class="module-ct">
	<div class="custom">
	<ul class="list-shipping">
	<li class="shipping-item"><i class="fa fa-download"></i><span class="title">Free Download</span> <span class="desc">on all our resources</span></li>
	<li class="exchange-item"><i class="fa fa-refresh"></i><span class="title">1st Exchange Free</span> <span class="desc">on 3 days</span></li>
	<li class="support-item"><i class="fa fa-comments"></i><span class="title">Online support 24/7</span> <span class="desc">123 456 7890</span></li>
	<li class="friends-item"><i class="fa fa-gift"></i><span class="title">Tell Friends and get $5</span> <span class="desc">a small gift for you</span></li>
	</ul></div>
	</div></div>
</div>

</div>

<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 footer-links">
								<div class="t3-module module " id="Mod97"><div class="module-inner"><h3 class="module-title "><span>Sign Up for our Newsletter</span></h3><div class="module-ct"><div class="acymailing_module" id="acymailing_module_formAcymailing90761">


	<div class="acymailing_fulldiv" id="acymailing_fulldiv_formAcymailing90761">

		<form id="formAcymailing90761" action="/index.php" onsubmit="return submitacymailingform('optin','formAcymailing90761')" method="post" name="formAcymailing90761">

		<div class="acymailing_module_form row">

			<div class="col-md-6"><span class="acymailing_introtext">Make sure you don't miss interesting happenings by joining our newsletter program.</span></div>

			
			<div class="acymailing_form col-md-5">

					<div class="row">

            <div class="col-md-8 col-xs-8">

              <p class="onefield fieldacyemail" id="field_email_formAcymailing90761">
                <span class="acyfield_email"><input id="user_email_formAcymailing90761" onfocus="if(this.value == 'E-mail') this.value = '';" onblur="if(this.value=='') this.value='E-mail';" class="inputbox" type="text" name="user[email]" style="width:100%" value="E-mail" data-cip-id="user_email_formAcymailing90761"></span>

              </p>
            </div>

            <div class="col-md-4 col-xs-4 acysubbuttons">

              
              <input class="button subbutton btn btn-primary" type="submit" value="Subscribe" name="Submit" onclick="try{ return submitacymailingform('optin','formAcymailing90761'); }catch(err){alert('The form could not be submitted '+err);return false;}">

              
            </div>

          </div>



					

				</div>

			
			<input type="hidden" name="ajax" value="0">

			<input type="hidden" name="ctrl" value="sub">

			<input type="hidden" name="task" value="notask">

			<input type="hidden" name="redirect" value="http%3A%2F%2Fjoomla.traintoproclaim.dev%2F">

			<input type="hidden" name="redirectunsub" value="http%3A%2F%2Fjoomla.traintoproclaim.dev%2F">

			<input type="hidden" name="option" value="com_acymailing">

			
			<input type="hidden" name="hiddenlists" value="1">

			<input type="hidden" name="acyformname" value="formAcymailing90761">

			
			
			</div>

		</form>

	</div>

	
</div>

</div></div></div>
				
									<!-- SPOTLIGHT -->
	<div class="t3-spotlight t3-footnav  row">
					<div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<div class="t3-module module " id="Mod95"><div class="module-inner"><h3 class="module-title "><span>Information</span></h3><div class="module-ct">

<div class="custom">
	<ul>
  <li><a href="/">About Us</a></li>
  <li><a href="/">Delivery Information</a></li>
  <li><a href="/">Privacy Policy</a></li>
  <li><a href="/">Terms &amp; Conditions</a></li>
  <li><a href="/">Contact Us</a></li>
  <li><a href="/">Site Map</a></li>
</ul>
</div>
</div></div></div>
							</div>
					<div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
								&nbsp;
							</div>
			</div>
<!-- SPOTLIGHT -->							</div>


</div>
Copyright {{"now"|date('Y')}}
</div>
