<div class="container">
<div class="row">
<div class="col-md-3 col-sm-4 col-xs-12 footer-info">
{{footer_1}}
</div>
<div class="col-md-9 col-sm-8 col-xs-12 footer-links">
{{footer_2}}
</div>
</div>
Copyright {{"now"|date('Y')}} Train To Proclaim
</div>
